<ion-header>
  <ion-navbar>
    <ion-title>Compra</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form class="list" (ngSubmit)="savePurchase()">
    <ion-list>
      <ion-item>
        <ion-label primary stacked>Nome</ion-label>
        <ion-input [(ngModel)]="purchase.name" name="name" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-card *ngFor="let person of people">
      <ion-card-header>
        <h2>
          {{person.name}}
          <ion-badge item-right secondary>Saldo {{person.balance | currency:'BRL':true:'1.2-2'}}</ion-badge>
        </h2>

        <button type="button" class='add' small (click)="addPaymentItem($event, person)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-card-header>

      <ion-list>

        <ion-item>
          <ion-label primary stacked>Gorjeta (%)</ion-label>
          <ion-input [(ngModel)]="purchase.paymentFor(person).tip" type="number" name="tip" min="0" required></ion-input>
        </ion-item>

        <ion-item-divider light>Items</ion-item-divider>

        <ion-item-sliding *ngFor="let item of purchase.paymentItemsFor(person)">
          <ion-item >
            <h2>{{item.name}}</h2>
            <p>
              <ion-badge item-right>R$ {{item.value * item.number}}</ion-badge>
              <ion-badge item-right secundary>Com gorjeta {{item.value * item.number * (1 + (purchase.paymentFor(person).tip)/100) | currency:'BRL':true:'1.2-2'}}</ion-badge>
            </p>
          </ion-item>
          <ion-item-options>
            <button type="button" primary (click)="editPaymentItem($event, item)">
              <ion-icon name="md-create"></ion-icon>
              Editar
            </button>

            <button type="button" danger (click)="deletePaymentItem($event, person, item)">
              <ion-icon name="trash"></ion-icon>
              Remover
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-divider light>
          Total
          <ion-badge item-right>R$ {{purchase.totalFor(person)  | currency:'BRL':true:'1.2-2' }}</ion-badge>
          <ion-badge item-right secundary>Com gorjeta R$ {{purchase.totalWithTipFor(person) | currency:'BRL':true:'1.2-2'}}</ion-badge>
        </ion-item-divider>
      </ion-list>

      <ion-item>
        <ion-label primary stacked>Pagou</ion-label>
        <ion-input type="number" [(ngModel)]="purchase.paymentFor(person).value" name="value" required min="0" step="0.01"></ion-input>
      </ion-item>
    </ion-card>

    <button class='save' type=submit>
      Salvar
      <ion-icon name="create"></ion-icon>
    </button>
  </form>
</ion-content>
